<div class="container">
  <h1 class="text-center">User Module</h1>
</div>
<div class="card mt-5" style="padding: 20px;">

  <form #registerForm = "ngForm" (ngSubmit)="register(registerForm)">
    <div class="form-group">
      <label for="id">ID:</label>
      <input type="text" #id (ngModel)="id" name="id" id="id" class="form-control" placeholder="Id">
    </div>

    <div class="form-group">
      <label for="name">User Name:</label>
      <input type="text" #name (ngModel)="name" name="name" id="name" class="form-control" placeholder="User Name">
    </div>

    <div class="form-group">
      <label for="type">User Type</label>
      <input type="text" #type (ngModel)="type" name="type" id="type" class="form-control" placeholder="User Type">
    </div>

    <div class="form-group">
      <label for="password">User Password</label>
      <input type="password" #password (ngModel)="password" name="password" id="password" class="form-control" placeholder="User Password">
    </div>

    <br>

    <div class="form-group">
      <input type="submit" value="Register" class="btn btn-primary w-100">
    </div>

  </form>

  <div class="mt-5">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Type</th>
          <th>Password</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let user of userDetails"> 
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.type}}</td>
          <td>{{user.password}}</td>
          <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="edit(user)">Edit</button></td>
          <td><button type="button" class="btn btn-danger" (click)="deleteUsers(user)">Delete</button></td>
        </tr>
      </tbody>

    </table>

  </div>
</div>
  
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">User</h5>
        <div class="callout" data-closable>
          <button class="close-button" aria-label="Close alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div class="modal-body">
        <form #registerForm = "ngForm" (ngSubmit)="updateUser(registerForm)">
          <div class="form-group">
            <label for="id">ID:</label>
            <input type="text" #id [(ngModel)]="userToUpdate.id" name="id" id="id" class="form-control" placeholder="Id">
          </div>
      
          <div class="form-group">
            <label for="name">User Name:</label>
            <input type="text" #name [(ngModel)]="userToUpdate.name" name="name" id="name" class="form-control" placeholder="User Name">
          </div>
      
          <div class="form-group">
            <label for="type">User Type</label>
            <input type="text" #type [(ngModel)]="userToUpdate.type" name="type" id="type" class="form-control" placeholder="User Type">
          </div>
      
          <div class="form-group">
            <label for="password">User Password</label>
            <input type="password" #password [(ngModel)]="userToUpdate.password" name="password" id="password" class="form-control" placeholder="User Password">
          </div>
      
          <br>
      
          <div class="form-group">
            <input type="submit" value="Update" class="btn btn-primary w-100">
          </div>
      
        </form>
      </div>
      
    </div>
  </div>
</div>
